input {
    padding: 10px 5px 10px 5px;
    margin-left: 10px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
    outline: none ! important;
}

.button {
    padding: 100px;
}

#resultsTable, #resultsTh, #resultsTd {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  table-layout: fixed;
  width: 80%;
}

#dosageInput{
  width: 20%;
}
