<h1>Prescription</h1>
<button routerLink="add" class="big-button" title="new prescription">Create new prescription</button> <br><br>

<h2>This is your current prescription</h2>
<div>
    <i>Put table of prescription in here with the appropriate styling in .css sheet to be implemented</i>
    <br>
</div>

<div>
    <button type="submit" class="form-button" (click)="onclic()">Add medication</button>
</div>

<div>
    <button type="submit" class="form-button">Delete medication</button>
</div>

<div>
    <button type="submit" class="form-button">Save prescription</button>
</div>

<div>
    <button type="submit" class="form-button">Start new prescription</button>
</div>



