table{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.mat-row {
  height: auto;
}

.mat-cell{
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.mat-header-cell{
  text-align: center;
}

.mat-row:hover .mat-cell {
  background-color: aliceblue;
}

div{
  margin-left: 150px;
  margin-top: 10px;
}
