<p> </p>
<p></p>

<!-- add buttons and make it pretty -->

<div>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" >
      
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" [scrollTop]="true">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          
          {{option.Medication_name}}
        
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <mat-slide-toggle [(ngModel)]="_searchByMeds" (change)=promtSearchBy() class="switch">Your are search by: {{content}} </mat-slide-toggle>

</div>

<table>
  <tr>
      <th>Medication name</th>
      <th>Description</th>
      <th>Side effects</th>
      <th>Warnings</th>
      <th>Add Medication</th>
  </tr>
<tr *ngFor="let data of filteredOptions | async; let i=index"> 

 <td>{{data.Medication_name}}</td>
 <td>{{data.Description}}</td>
 <td>{{data.Side_effects}}</td>
 <td>{{data.Warnings}}</td>
 <td><button>Add Medication</button></td>


</tr>
</table>

<script>

  document.getElementById("id").innerHTML = "what"
</script>











