<p></p>
<p></p>

<table id="searchTable">
  <td>
    <button mat-raised-button (click)="onBackToPrescription()">{{this.flag.getName}}</button>
  </td>
  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td id="searchTd">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" [scrollTop]="true">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option" style="line-height: 1.5">

            <span>
            <div id="textMeds">{{option.Medication_name}}</div>
            <div id="subtextSymptoms">{{option.Symptoms}}</div>
          </span>

          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
y

  </td>
  <td id="searchTd">
    <mat-slide-toggle [(ngModel)]="_searchBySymptoms" (change)=searchByToggle() class="switch">Searching
      by: {{content}} </mat-slide-toggle>
  </td>

</table>


<table mat-table [dataSource]="filteredOptions">


  <ng-container matColumnDef="Medication_name">
    <th mat-header-cell *matHeaderCellDef>
      <div *ngIf="!_searchBySymptoms" id="color">Medication name</div>
      <div *ngIf="_searchBySymptoms">Medication name</div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.Medication_name}} </td>
  </ng-container>
  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
  </ng-container>
  <ng-container matColumnDef="Warning">
    <th mat-header-cell *matHeaderCellDef>Warning</th>
    <td mat-cell *matCellDef="let element"> {{element.Warnings}} </td>
  </ng-container>
  <ng-container matColumnDef="Symptoms">
    <th mat-header-cell *matHeaderCellDef>
      <div *ngIf="_searchBySymptoms" id="color">Symptoms</div>
      <div *ngIf="!_searchBySymptoms">Symptoms</div>
    </th>
    <td mat-cell *matCellDef="let element">{{element.Symptoms}} </td>
  </ng-container>
  <ng-container matColumnDef="Side_effects">
    <th mat-header-cell *matHeaderCellDef>Side effects</th>
    <td mat-cell *matCellDef="let element"> {{element.Side_effects}}</td>
  </ng-container>
  <ng-container matColumnDef="Add">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button (click)="saveMeds(element)" mat-raised-button>Add Medication</button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<p></p>
<p></p>
