<p> </p>
<p></p>

<!-- how to make html code change - depending on variable -->

<div>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" >
      
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" [scrollTop]="true">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" >
          
          {{option.Symptoms}}
        
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <mat-slide-toggle [(ngModel)]="_searchByMeds" class="switch">Slide Toggle Checked {{_searchByMeds}} </mat-slide-toggle>

</div>

<table>
  <tr>
      <th>Medication name</th>
      <th>Description</th>
      <th>Dosage</th>
      <th>Side effects</th>
      <th>Warnings</th>
  </tr>
<tr *ngFor="let data of filteredOptions | async; let i=index"> 

 <td>{{data.Medication_name}}</td>
 <td>{{data.Description}}</td>
 <td>{{data.Dosage}}</td>
 <td>{{data.Side_effects}}</td>
 <td>{{data.Warnings}}</td>


</tr>
</table>











