#searchTable, #searchTd{
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  table-layout: auto;
  width: 70%;

}

#subtextSymptoms{

  font-size:small;
  color:grey;
}
#textMeds{
  color:darkblue;
}

.example-form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
    background-color:white;
    margin-left: auto;
    margin-right: auto;

  }

  .example-full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }



  div {

    margin-left: auto;
    margin-right: auto;


  }

.pop{

  background-color:lavender;
  align-items: center;

}
.mat-option{
  align-items: center;
}

table{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;

}

.mat-row {
  height: auto;
}

.mat-cell{
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.mat-header-cell{
  text-align: center;
}

#color{
  color: deeppink;
}

#center{
  display: flex;
  justify-content: center;
  align-items: center;
}
