<h1>Create your prescription below</h1>
<!--error handling does not work-->
<div>
    <form [formGroup]="newPrescriptionForm" (ngSubmit)="onSubmit()">
        <div>
            <div>
                <div class="form-wrapper">
                    <label>Doctor name: </label>
                    <br/>
                </div>

                <div>
                    <input type="text" formControlName="doctor_name">
                    <br/>
                </div>
                <br/>
            </div>

            <div>
                <div>
                    <label>Provider number: </label>
                    <br/>
                </div>

                <div>
                    <input type="number" min="0" step="1" formControlName="provider_number">
                <br/>
                </div>

                <div *ngIf="provider_number.invalid && (provider_number.dirty || provider_number.touched)" class="error">
                    <div *ngIf="provider_number.errors?.['required']">
                        Provider number is required!
                    </div>
                </div>
                <br/>
            </div>

            <div>
                <div>
                    <label>Patient name: </label>
                </div>
                <div>
                    <input type="text" formControlName="patient_name">
                </div>
                <br/>
            </div>

            <div>
                <div>
                    <label>Patient DOB: </label>
                </div>
                <div>
                    <input type="text" formControlName="patient_dob">
                </div>
                <br/>
            </div>

            <div>
                <div>
                    <label>Comment: </label>
                </div>
                <div>
                    <input type="text" formControlName="comments">
                </div>

                <div *ngIf="comments.invalid && (comments.dirty || comments.touched)" class="error">
                    <div *ngIf="comments.errors?.['required']">
                        Comment is required!
                    </div>
                </div>
                <br/>
            </div>

            <div>
                <div>
                    <label>Date: </label>
                </div>
                <div>
                    <input type="date" formControlName="date">
                </div>
                <div *ngIf="date.invalid && (date.dirty || date.touched)" class="error">
                    <div *ngIf="date.errors?.['required']">
                        Date is required!
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </form>
</div>
<button routerLink="show" title="show" (click)="onClick()">Create</button> <br><br>
