<h1>Create your prescription below</h1>

<!--error handling does not work-->
<div>
    <form [formGroup]="newPrescriptionForm" (ngSubmit)="onSubmit()">
<!--        <div>-->
<!--            <div>-->
<!--                <div class="form-wrapper">-->
<!--                    <label>Doctor name: </label>-->
<!--                    <br/>-->
<!--                </div>-->

<!--                <div>-->
<!--                    <input type="text" formControlName="doctor_name">-->
<!--                    <br/>-->
<!--                </div>-->
<!--                <br/>-->
<!--            </div>-->

<!--            <div>-->
<!--                <div>-->
<!--                    <label>Provider number: </label>-->
<!--                    <br/>-->
<!--                </div>-->

<!--                <div>-->
<!--                    <input type="number" min="0" step="1" formControlName="provider_number">-->
<!--                <br/>-->
<!--                </div>-->

<!--                <div *ngIf="provider_number.invalid && (provider_number.dirty || provider_number.touched)" class="error">-->
<!--                    <div *ngIf="provider_number.errors?.['required']">-->
<!--                        Provider number is required!-->
<!--                    </div>-->
<!--                </div>-->
<!--                <br/>-->
<!--            </div>-->

<!--            <div>-->
<!--                <div>-->
<!--                    <label>Patient name: </label>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <input type="text" formControlName="patient_name">-->
<!--                </div>-->
<!--                <br/>-->
<!--            </div>-->

<!--            <div>-->
<!--                <div>-->
<!--                    <label>Patient DOB: </label>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <input type="text" formControlName="patient_dob">-->
<!--                </div>-->
<!--                <br/>-->
<!--            </div>-->

<!--            <div>-->
<!--                <div>-->
<!--                    <label>Comment: </label>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <input type="text" formControlName="comments">-->
<!--                </div>-->

<!--                <div *ngIf="comments.invalid && (comments.dirty || comments.touched)" class="error">-->
<!--                    <div *ngIf="comments.errors?.['required']">-->
<!--                        Comment is required!-->
<!--                    </div>-->
<!--                </div>-->
<!--                <br/>-->

<br/><br/>

<div class="container" id="content" #content>
    <h2>MedicAssist Prescription</h2>
    <form [formGroup]="newPrescriptionForm" (ngSubmit)="onSubmit()">
        <div class="form-wrapper">
            <div id="doctor_info">
                <h4>MedicAssist Doctor Information</h4>
                <i>Aarhus Universitet
                    <br/>
                    Exchange Student Prescription Platform
                </i>
                    <div>
                        <div>
                            <label for="doctor_name">Doctor name: </label>
                            <input type="text" formControlName="doctor_name">
                            <div *ngIf="doctor_name.invalid && (doctor_name.dirty || doctor_name.touched)" class="error">
                                <div *ngIf="doctor_name.errors?.['required']">
                                    Doctor's name is required!
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <label for="provider_number">Provider number: </label>
                        <input type="number" min="0" step="1" formControlName="provider_number">
                        <div *ngIf="provider_number.invalid && (provider_number.dirty || provider_number.touched)" class="error">
                            <div *ngIf="provider_number.errors?.['required']">
                                Provider number is required!
                            </div>
                        </div>
                    </div>
            </div>

            <div id="patient_info">
                <h4>Patient information</h4>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <label for="patient_name">Patient name: </label>
                                    <input type="text" formControlName="patient_name">
                                </div>
                            </td>
                            <td>
                                <div *ngIf="patient_name.invalid && (patient_name.dirty || patient_name.touched)" class="error">
                                    <div *ngIf="patient_name.errors?.['required']">
                                        Patient name is required!
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <label for="patient_dob">Patient DOB: </label>
                                    <input type="text" formControlName="patient_dob">
                                </div>
                            </td>
                            <td>
                                <div *ngIf="patient_dob.invalid && (patient_dob.dirty || patient_dob.touched)" class="error">
                                    <div *ngIf="patient_dob.errors?.['required']">
                                        Patient DOB is required!
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <label for="comments">Comment: </label>
                                    <input type="text" formControlName="comments">
                                </div>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div>
                                    <label for="date">Date: </label>
                                    <input type="date" formControlName="date">
                                </div>
                            </td>
                            <td>
                                <div *ngIf="date.invalid && (date.dirty || date.touched)" class="error">
                                    <div *ngIf="date.errors?.['required']">
                                        Date is required!
                                    </div>
                                </div>
                            </td>
                        </tr>
<!--                    <tr><button (click)="onClick()">Create</button> <br><br></tr>-->
                    </tbody>
                </table>
            </div>
<!--          <div>-->
<!--            <h4>Prescription</h4>-->

<!--            <table id="resultsTable">-->
<!--              <tr>-->
<!--                <th id="resultsTh">Provider number</th>-->
<!--                <th id="resultsTh">Date</th>-->
<!--                <th id="resultsTh">Patient name</th>-->
<!--                <th id="resultsTh">Patient DOB</th>-->
<!--                <th id="resultsTh">Doctor name</th>-->
<!--                <th id="resultsTh">Comment</th>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td id="resultsTd">{{getForm().Provider_number}}</td>-->
<!--                <td id="resultsTd">{{getForm().Date}}</td>-->
<!--                <td id="resultsTd">{{getForm().Patient_name}}</td>-->
<!--                <td id="resultsTd">{{getForm().Patient_DOB}}</td>-->
<!--                <td id="resultsTd">{{getForm().Doctor_name}}</td>-->
<!--                <td id="resultsTd">{{getForm().Comment}}</td>-->

<!--              </tr>-->
<!--            </table>-->
<!--          </div>-->
            <div id="Medication">
                <h4>Medication</h4>

              <table id="resultsTable">
                <tr>
                  <th id="resultsTh">Medication name</th>
                  <th id="resultsTh">Dosage</th>
                  <th id="resultsTh">Delete Medication</th>
                </tr>
                <tr *ngFor="let data of getMeds()">

                  <td id="resultsTd">{{data}}</td>
                  <td id="resultsTd"><input type="text" formControlName="dosage" id="dosageInput" value="10"> ml</td>
                  <td id="resultsTd" (click)="onDelete(data)"><button mat-raised-button>Delete Medication</button></td>
                </tr>
              </table>
<!--                <button routerLink="search" class="big-button" title="new prescription">Add medication</button><br><br>-->

            </div>
            <div>

<!--                <div>-->
<!--                    <label>Date: </label>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <input type="date" formControlName="date">-->
<!--                </div>-->
<!--                <div *ngIf="date.invalid && (date.dirty || date.touched)" class="error">-->
<!--                    <div *ngIf="date.errors?.['required']">-->
<!--                        Date is required!-->
<!--                    </div>-->
<!--                </div>-->
                <br/>

                <input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()">
              <button mat-raised-button (click)="savePrescription()"  title="save medictaions">Save prescripton</button>
              <button mat-raised-button (click)="goToSearchPage()"  title="add medictaions">Add medications</button> <br><br>
              <br><br>


            </div>
        </div>
    </form>
</div>


