<p></p>
<div class="container" id="content" #content>
<table mat-table [dataSource]="prescriptionArray">

  <ng-container matColumnDef="Provider_number">
    <th mat-header-cell *matHeaderCellDef>Provider number</th>
    <th></th>
    <td mat-cell *matCellDef="let element"> {{element.Provider_number}} </td>
  </ng-container>

  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
  </ng-container>

  <ng-container matColumnDef="Patient_name">
    <th mat-header-cell *matHeaderCellDef>Patient name</th>
    <td mat-cell *matCellDef="let element"> {{element.Patient_name}} </td>
  </ng-container>

  <ng-container matColumnDef="Patient_DOB">
    <th mat-header-cell *matHeaderCellDef>Patient DOB</th>
    <td mat-cell *matCellDef="let element"> {{element.Patient_DOB}} </td>
  </ng-container>

  <ng-container matColumnDef="Doctor_name">
    <th mat-header-cell *matHeaderCellDef>Doctor name</th>
    <td mat-cell *matCellDef="let element"> {{element.Doctor_name}} </td>
  </ng-container>

  <ng-container matColumnDef="Comment">
    <th mat-header-cell *matHeaderCellDef>Comment</th>
    <td mat-cell *matCellDef="let element"> {{element.Comment}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsCredentials"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsCredentials;"></tr>
</table>
<br/><br/>
<table mat-table [dataSource]="getMeds()">

  <ng-container matColumnDef="Medication_name">
    <th mat-header-cell *matHeaderCellDef>Medication name</th>
    <td mat-cell *matCellDef="let element"> {{element}} </td>
  </ng-container>
  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let i = index"> {{getDescriptions()[i]}} </td>
  </ng-container>
  <ng-container matColumnDef="Warning">
    <th mat-header-cell *matHeaderCellDef>Warning</th>
    <td mat-cell *matCellDef="let i = index"> {{getWarning()[i]}} </td>
  </ng-container>
  <ng-container matColumnDef="Symptoms">
    <th mat-header-cell *matHeaderCellDef>Symptoms</th>
    <td mat-cell *matCellDef="let i = index"> {{getSymptoms()[i]}} </td>
  </ng-container>
  <ng-container matColumnDef="Dosage">
    <th mat-header-cell *matHeaderCellDef>Dosage</th>
    <td mat-cell *matCellDef="let i = index"> {{getDosage()[i]}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsMeds"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsMeds;"></tr>
</table>
<div>
  <button mat-raised-button (click)="goBack()" data-html2canvas-ignore="true">Go back</button>
  <button mat-raised-button (click)="SavePDF()" data-html2canvas-ignore="true">Save PDF</button>
</div>
</div>
