
<p></p><p></p>

<table id="resultsTable">
  <tr>
    <th id="resultsTh">Provider number</th>
    <th id="resultsTh">Date</th>
    <th id="resultsTh">Patient name</th>
    <th id="resultsTh">Patient DOB</th>
    <th id="resultsTh">Doctor name</th>
    <th id="resultsTh">Comment</th>
  </tr>
  <tr>
    <td id="resultsTd">{{getForm().Provider_number}}</td>
    <td id="resultsTd">{{getForm().Date}}</td>
    <td id="resultsTd">{{getForm().Patient_name}}</td>
    <td id="resultsTd">{{getForm().Patient_DOB}}</td>
    <td id="resultsTd">{{getForm().Doctor_name}}</td>
    <td id="resultsTd">{{getForm().Comment}}</td>

  </tr>
</table>


<table id="resultsTable">
  <tr>
    <th id="resultsTh">Medication name</th>
    <th id="resultsTh">Dosage</th>
    <th id="resultsTh">Delete Medication</th>
  </tr>
  <tr *ngFor="let data of getMeds()">

    <td id="resultsTd">{{data}}</td>
    <td id="resultsTd"><input type="text" formControlName="dosage" id="dosageInput" value="10"> ml</td>
    <td id="resultsTd" (click)="onDelete(data)"><button mat-raised-button>Delete Medication</button></td>
  </tr>
</table>

<button mat-raised-button (click)="goToSearchPage()"  title="add medictaions">Add medications</button> <br><br>
<button mat-raised-button (click)="savePrescription()"  title="save medictaions">Save prescripton</button> <br><br>
