
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }


  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

.container {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  height: 200px;
  }

  .a button {
	  padding: 10px;
	  font-size: 16px;
	  background: rgb(49, 8, 214);
	}

  .a button:hover {
    background-color: #000;
  }

  mat-card {
    padding: 50px;
    background-color: #474e5d; 
    color: white;
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center
  }

  mat-card-content {
    font-size: 20px;
    padding-left: 20px;
  }

  mat-card img{
    /* object-fit: cover; this makes the image in src fit to the size specified below */
    width: 110%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 100%;
  }


  