<!DOCTYPE html>
<html>
<body>

    <div class="about-section">
        <h1>Our Mission</h1>
        <p>Diabetes is a broad medical term used to describe the inability of the body to regulate insulin levels. Insulin is a hormone made by the pancreas that enables our body to take glucose consumed in food, and turn this into energy. Untreated diabetes can lead to heart-disease, nerve pain, vision loss and, if extreme, death. The World Health Organisation estimates 1.9million people died from diabetes in 2019 alone. This is a major health issue that can affect anyone, at any life stage. Diabetes exists in four key sub-types: type 1 diabetes, type 2 diabetes, pre-diabetes, gestational diabetes.
        It is thereby crucial that doctors prescribe the correct medications to diabetic patients, and that patients are provided with information regarding this prescribed medication, so they understand how it can affect their diabetic treatment and lifestyle. MedicAssist fuses this into a simple platform, minimising the knowledge-gap in doctor-to-patient interactions. 
        </p>
    </div>
    <div class="container">
      <a routerLink="prescription-page"><button class="btn btn-success pull-right" > Create New Prescription</button></a>
      <a routerLink="prescription-page"><button class="btn btn-success pull-right" > Abort Current Prescription</button></a>
    </div>
    <mat-card>
      <img
        mat-card-image
        src="assets/type-2-diabetes-49a3ee.jpg"
      />
      <mat-card-content>
        <p>
          <strong>Type 2 diabetes</strong>
           is an impairment in the way the body regulates and uses sugar (glucose) 
          as a fuel. This long-term (chronic) condition results in too much sugar circulating in the
          bloodstream. Eventually, high blood sugar levels can lead to disorders of the circulatory, 
          nervous and immune systems.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <img
        mat-card-image
        src="assets/Diabetes.jpg"
        alt="Type 1"
      />
      <mat-card-content>
        <p>
          <strong>Type 2 diabetes</strong>
           is an impairment in the way the body regulates and uses sugar (glucose) 
          as a fuel. This long-term (chronic) condition results in too much sugar circulating in the
          bloodstream. Eventually, high blood sugar levels can lead to disorders of the circulatory, 
          nervous and immune systems.
        </p>
      </mat-card-content>
    </mat-card>
</body>
</html>

 <!-- source: https://www.independent.ie/irish-news/health/irish-scientists-explore-potential-links-between-type-1-diabetes-and-gut-health-that-could-offer-cure-for-debilitating-condition-42143002.html
 source: https://www.healthdirect.gov.au/type-2-diabetes -->