<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>


<div class="container">
    
    <div class="row">

        <h2>Contact Method</h2>
        <hr>
        <div>
            <i class="material-icons">contact_phone</i> <font size="5" face="monospace"> &emsp; (+45) xxxxoooo </font>
            <br>
            <br>
            <i class="material-icons">mail</i> <font size="5" face="monospace"> &emsp; test@gmail.com </font>
            <br>
            <hr>
        </div>

            <h2>Online Feedback</h2>
            <hr>

        <div>
            <form [formGroup]="ReportForm" (ngSubmit)="OnPostQuestion()">
                <div class="form-group">
                    <label for="Name"> *Name </label>
                    <input
                    type="string"
                    id="Name"
                    formControlName="name"
                    />
                </div>
                <span *ngIf="ReportForm.get('name')?.touched &&
                ReportForm.get('name')?.invalid">
                Name must not be empty.
                </span>

                <div class="form-group">
                    <label for="Email"> *Email </label>
                    <input
                    type="string"
                    id="Email"
                    formControlName="email"
                    />
                </div>

                <span *ngIf="ReportForm.get('email')?.touched &&
                ReportForm.get('email')?.invalid">
                Email is not valid.
                </span>


                <div class="form-group">
                    <label for="feedback"> Feedback </label>
                    <textarea
                      class="form-control"
                      id="Feedback"
                      formControlName="feedback"
                    ></textarea>
                </div>

                <button class="btn btn-primary" [disabled]="!ReportForm.valid" type="submit"> Submit </button>

            </form>
        </div>

        <h2>Previous Question</h2>
        <hr>


        <div fxLayout="row" fxLayoutAlign="center">
            <mat-form-field class="example-full-width">
                <span matPrefix> </span>
                <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "search">
                <button matSuffix mat-button (click)="filter()">search</button>
                <button matSuffix mat-button (click)="reset()">reset</button>
            </mat-form-field>
            Searched by:  
            <select name="demo" [(ngModel)]="selections">
                <option value="name">Name</option>
                <option value="feedback">Feedback</option>
            </select>
   
            <span *ngIf="!Filtered">
                <mat-card class="verticle-space asd cardPardding" *ngFor="let q of QuestionAnswer; let i=index">
                    <mat-card-title>
                        Name: {{ q.name }}
                        Email: {{ q.email }}
                    </mat-card-title>
                    <mat-card-subtitle>
                        Feedback: {{ q.feedback }}
                    </mat-card-subtitle>
            
                    <mat-card-content>
                        Answer: {{ q.answer }}
                    </mat-card-content>
            
                    <mat-card-actions>
                        <button
                        mat-raised-button
                        color="primary"
                        (click)="OnRemoveQuestion(q.id, i)"
                        >
                        Delete
                        </button>
                    </mat-card-actions>

                </mat-card>
            </span>
            <span *ngIf="Filtered">
                <mat-card class="verticle-space asd cardPardding" *ngFor="let q of FilteredQuestionAnswer; let i=index">
                    <mat-card-title>
                        Name: {{ q.name }}
                        Email: {{ q.email }}
                    </mat-card-title>
                    <mat-card-subtitle>
                        Feedback: {{ q.feedback }}
                    </mat-card-subtitle>
            
                    <mat-card-content>
                        Answer: {{ q.answer }}
                    </mat-card-content>
            
                    <mat-card-actions>
                        <button
                        mat-raised-button
                        color="primary"
                        (click)="OnRemoveQuestion(q.id, i)"
                        >
                        Delete
                        </button>
                    </mat-card-actions>

                </mat-card>
            </span>
            
        </div>

    </div>
</div>

<hr>


<!--
<ul>
    <li *ngFor="let q of QuestionAnswer; let i=index">
        <button mat-raised-button (click)="OnRemoveQuestion(q.id, i)"> Confirm </button> {{q | json}}
    </li>
</ul>
-->